<footer class="main-footer">
    <div class="container">
     
            <p>
                <ul class="footer-links">
                    <li><a href="" target="_blank">关于</a>
                    <li class="muted">&middot;</li>
                    <li><a href="" target="_blank">FAQ</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/ShaorxCN/photoShare" target="_blank">GitHub</a></li>
                </ul>
            </p>
      <strong>Based on <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong><b>Version</b> 2.3.8
    </div>
    <!-- /.container -->
  </footer>
  </body>
{{template "prepare/foot.tpl"}}
</body>
</html>